@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-notifications/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;400;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");

iframe {
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--light-gray);
}
:root {
  --primary-color: #16619f;
  --primary-color2: #013b6a;
  --secondary-color: #013b6a;
  --tertiary-color: #16619f;
  --forth-color: #ebebeb;
  --text-primary-color: #00325c;
  --placeholder-color: #0f3757;
  --heading-color: #013b6a;
  --button-color: #16619f;
  --dark-blue: #113c62;
  --light-gray: #ebebeb;
  --white: #fff;
}

* {
  font-family: "Bitter", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: center/cover no-repeat url(./assets/images/login-bg.jpg);
  flex-direction: column;
}
.loginform {
  max-height: 100vh;
  height: 100vh;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 2rem 15px;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.loginform h3 {
  width: 100%;
  display: block;
  text-align: center;
  color: #00325c;
  margin-bottom: 20px;
}
.loginform p {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 0;
  font-size: 14px;
}
.loginform form span {
  display: none;
}
.loginform form > div {
  width: 100% !important;
}
.logo {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  left: 0;
  background: #f5f5f5;
  z-index: 11;
}
.loginform form > div > div {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100% !important;
}
.loginform input {
  height: 35px !important;
  line-height: 35px;
}
.loginform form > div > button {
  height: 35px;
  min-width: initial;
  margin-left: 0;
  margin-right: 0;
}
.logo img {
  width: 180px;
  padding: 10px;
}
.footer {
  display: flex;
  left: 0;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: var(--primary-color);
  align-content: center;
  font-size: 0.8rem;
  align-items: center;
  justify-content: space-between;
}
img,
svg {
  vertical-align: unset !important;
}
.logoHeader {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}
.logoHeader img {
  width: 13rem;
}
.contact {
  display: flex;
  color: white;
}
.contact a {
  color: white;
  text-decoration: none;
  margin-left: 0.3rem;
}
.contact span {
  margin: 1rem;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright > * {
  margin-inline: 5px;
}
.purchaseTransactionLabel {
  position: absolute;
  transform: translateY(-1.5rem);
  margin-bottom: 7px;
  color: #878787;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}

.select_period_purchaseTransactionCss {
  position: absolute;
  left: 0;
  top: 0;
  outline: none;
  border: none;
  background-color: var(--forth-color);
  color: var(--text-primary-color);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  transition: all 0.2s;
  font-size: 0.8rem;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  background-image: linear-gradient(45deg, transparent 77%, white 69%),
    linear-gradient(135deg, white 57%, transparent 61%),
    linear-gradient(to right, transparent 30%, var(--primary-color) 30%);
  background-position: calc(100% - 15px) calc(1em + 2px),
    calc(100% - 8px) calc(1em + 2px), 100% 0;
  background-size: 7px 7px, 7px 4px, 3.1em 3.1em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

.selectContainerCss {
  margin-block: 1.1rem;
  margin-inline: 0.5rem;
  position: relative;
  height: 2rem;
  flex-shrink: 1;
  min-width: 15rem;
}
.actionIconRow {
  justify-content: right;
  padding: 0px !important;
  align-items: center;
  text-align: end;
  padding-right: 10px !important;
}
.actionIconContainer {
  margin-top: 10px;
  background: rgb(218 218 218);

  border-radius: 25px;
  padding: 2px 7px 0px;
}
.actionIconImg {
  width: 25px;
  margin: 5px;
  cursor: pointer;
  filter: drop-shadow(0px 2px 4px black);
}
.validation-error-msg {
  font-size: 12px;
  color: #f00;
  font-weight: 500;
  font-style: oblique;
}
.row > [class^="col-"] {
  margin-bottom: 1.7rem;
}
.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}
.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-wrap {
  border: 0;
  background: #165f9d;
  border-radius: 7px;
}
.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text {
  color: #fefefe;
}
.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-wrap:hover .e-tab-text {
  color: #fefefe;
}

.tabContainer_targetSCheme {
  border: 1px solid #dedede;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.2);
}
.tabContainer_targetSChemechild {
  border: 1px solid #dedede;
  border-radius: 15px;
  /* margin: 10px; */
  padding: 10px;
  /* box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.5); */
}
.e-tab .e-tab-header .e-indicator {
  background: #16619f;
}
.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap {
  border-radius: 7px;
  background-color: #dedede;
  margin: 5px;
}
.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover .e-tab-text {
  color: #dedede;
}
.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover {
  border-radius: 7px;
  background-color: #16619f;
}
.textBoxWithActionBtnContainer {
  height: 45px;
}
.getListButtonRightArrow {
  line-height: 1 !important;
  padding: 3px !important;
  margin-left: 5px;
  font-size: 25px !important;
  margin-top: 1px;
  height: 39px;
  background: #16619f !important;
  border: none !important;
}
#SchemeProcessIcons > .actionIconRow {
  justify-content: left;
}

/* label.e-float-text,
.e-float-input label.e-float-text,
.e-float-input.e-control-wrapper label.e-float-text {
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #888585 !important;

  /* color: #063e82 !important; */
/* } */
/* 
.e-float-text.e-label-top {
  -webkit-text-fill-color: #16619f;
}

input.e-disabled {
  -webkit-text-fill-color: #000000 !important;
}

textarea.e-disabled {
  -webkit-text-fill-color: #000000 !important;
}

.e-control input {
  font-size: 12px !important;
  font-family: TTNorms-Regular !important;
  color: #000000 !important;
  font-weight: 400 !important;
}

.e-outline.e-input-group.e-control-wrapper,
.e-outline.e-input-group,
.e-outline.e-input-group:not(.e-float-icon-left),
.e-outline.e-float-input,
.e-outline.e-float-input.e-control-wrapper,
.e-outline.e-input-group:not(.e-float-icon-left),
.e-outline.e-input-group.e-success:not(.e-float-icon-left),
.e-outline.e-input-group.e-warning:not(.e-float-icon-left),
.e-outline.e-input-group.e-error:not(.e-float-icon-left),
.e-outline.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-outline.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-outline.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-outline.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border-radius: 6px !important;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.e-outline.e-input-group input.e-input,
.e-outline.e-float-input.e-input-group input,
.e-outline.e-input-group.e-control-wrapper input.e-input,
.e-outline.e-float-input.e-input-group.e-control-wrapper input,
.e-outline.e-float-input input,
.e-outline.e-float-input.e-control-wrapper input {
  border-radius: 6px !important;
} */

.main_content_wrapper {
  padding: 20px;
}

.checkbox-wrapper-65 .cbx {
  top: 4px;
  position: relative;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #aaaab5;
  background-image: linear-gradient(#aaaab5, #aaaab5);
  /* box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15),
    inset 0 -1px 1px rgba(0, 0, 0, 0.15); */
  transition: all 0.15s ease;
}
.checkbox-wrapper-65 .cbx svg {
  position: absolute;
  top: 3px;
  left: 3px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-65 .cbx + span {
  float: left;
  margin-left: 6px;
}
.checkbox-wrapper-65 {
  user-select: none;
}
.checkbox-wrapper-65 label {
  display: inline-block;
  cursor: pointer;
}
.checkbox-wrapper-65 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx {
  background-color: #606062;
  background-image: linear-gradient(#255cd2, #1d52c1);
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx svg {
  stroke-dashoffset: 0;
  transition: all 0.15s ease;
}

.border_checkbox {
  /* padding-top: 5px; */
  width: 100%;
  border-radius: 5px;
  background-color: var(--forth-color) !important;
  border: transparent;
  /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); */
  padding-left: 5%;
}

.checkbox-wrapper-47 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

/* To specify height and font size */
.e-input:not(:valid),
.e-input:valid,
.e-float-input.e-control-wrapper input:not(:valid),
.e-float-input.e-control-wrapper input:valid,
.e-float-input input:not(:valid),
.e-float-input input:valid,
.e-input-group input:not(:valid),
.e-input-group input:valid,
.e-input-group.e-control-wrapper input:not(:valid),
.e-input-group.e-control-wrapper input:valid,
.e-float-input.e-control-wrapper textarea:not(:valid),
.e-float-input.e-control-wrapper textarea:valid,
.e-float-input textarea:not(:valid),
.e-float-input textarea:valid,
.e-input-group.e-control-wrapper textarea:not(:valid),
.e-input-group.e-control-wrapper textarea:valid,
.e-input-group textarea:not(:valid),
.e-input-group textarea:valid {
  border-radius: 5px !important;
}
.custome-textboxCss {
  position: absolute;
  left: 0;
  top: 0;
  outline: none !important;
  background-color: var(--forth-color) !important;
  color: var(--text-primary-color) !important;
  border-radius: 5px !important;
  width: 100% !important;
  font-size: 0.8rem !important;
  transition: all 0.2s !important;
  border: none !important;
  border-bottom: 3px solid transparent !important;
}

.e-input-group input.e-input,
.e-input-group.e-control-wrapper input.e-input,
.e-float-input input,
.e-float-input.e-control-wrapper input,
.e-input-group textarea.e-input,
.e-input-group.e-control-wrapper textarea.e-input,
.e-float-input textarea,
.e-float-input.e-control-wrapper textarea,
.e-input-group .e-input[disabled],
.e-input-group.e-control-wrapper .e-input[disabled],
.e-input-group.e-disabled input.e-input,
.e-input-group.e-control-wrapper.e-disabled input.e-input,
.e-input-group.e-disabled textarea.e-input,
.e-input-group.e-control-wrapper.e-disabled textarea.e-input {
  padding-left: 1rem;
}

.e-ddl.e-input-group.e-control-wrapper .e-input {
  outline: none;
  background-color: var(--forth-color);
  color: var(--text-primary-color);
  border-radius: 5px;
  height: 100%;
  width: 100%;

  transition: all 0.2s;
  font-size: 0.8rem;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  background-image: linear-gradient(45deg, transparent 77%, #fff 0),
    linear-gradient(135deg, #fff 57%, transparent 61%),
    linear-gradient(90deg, transparent 30%, var(--primary-color) 0);
  background-position: calc(100% - 15px) calc(1em + 2px),
    calc(100% - 8px) calc(1em + 2px), 100% 0;
  background-size: 7px 7px, 7px 4px, 3.1em 3.1em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error):not(
    .e-float-icon-left
  )
  .e-input:focus,
.e-input-group.e-float-icon-left.e-input-focus:not(.e-success):not(
    .e-warning
  ):not(.e-error)
  .e-input:focus,
.e-input-group.e-control-wrapper.e-input-focus:not(.e-success):not(
    .e-warning
  ):not(.e-error):not(.e-float-icon-left)
  .e-input:focus,
.e-input-group.e-control-wrapper.e-float-icon-left.e-input-focus:not(
    .e-success
  ):not(.e-warning):not(.e-error)
  .e-input:focus,
.e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error):not(
    .e-float-icon-left
  )
  .e-input,
.e-input-group.e-float-icon-left.e-input-focus:not(.e-success):not(
    .e-warning
  ):not(.e-error)
  .e-input,
.e-input-group.e-control-wrapper.e-input-focus:not(.e-success):not(
    .e-warning
  ):not(.e-error):not(.e-float-icon-left)
  .e-input,
.e-input-group.e-control-wrapper.e-float-icon-left.e-input-focus:not(
    .e-success
  ):not(.e-warning):not(.e-error)
  .e-input {
  padding-left: 1rem;
}

.e-ddl.e-input-group.e-control-wrapper.e-input-focus::before,
.e-ddl.e-input-group.e-control-wrapper.e-input-focus::after {
  background: transparent !important;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(
    .e-float-icon-left
  ),
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(
    .e-error
  ):not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(
    .e-warning
  ):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(
    .e-warning
  ):not(.e-error)
  .e-input-in-wrap {
  border-color: transparent !important;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(
    .e-float-input
  )::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(
    .e-float-input
  )::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input)
  .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input)
  .e-input-in-wrap::after {
  /* box-shadow: 0 0 13px -8px var(--primary-color) inset !important;
  -webkit-box-shadow: 0 0 13px -8px var(--primary-color) inset !important;
  /* -moz-box-shadow: 0 0 13px -8px var(--primary-color) inset !important; */
  /* background: linear-gradient(0deg, #144075 36%, #16619f 80%); */
  background: transparent;
  /* display: none; */
}

.input_label_form {
  /* position: absolute; */
  -webkit-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
  margin-bottom: 7px;
  color: #878787;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}
.e-ddl.e-input-group .e-input-group-icon,
.e-ddl.e-input-group.e-control-wrapper .e-input-group-icon:hover {
  display: none;
}

.e-input-group .e-input-group-icon:last-child,
.e-input-group.e-control-wrapper .e-input-group-icon:last-child {
  padding-right: 0.8rem;
  font-size: 18px !important;

  /* background-color: darkgray; */
}

/* To specify height and font size */

.e-input-group.e-control-wrapper {
  outline: none !important;
  background-color: var(--forth-color) !important;
  color: var(--text-primary-color) !important;
  border-radius: 5px !important;

  width: 100% !important;
  font-size: 0.8rem !important;
  transition: all 0.2s !important;
  border: none !important;
  border-bottom: 1px solid transparent !important;
}

.shadow_for_inputbox {
  box-shadow: 0px 0px 43px -3px var(--primary-color) !important;
  -webkit-box-shadow: 0px 0px 43px -3px var(--primary-color) !important;
  -moz-box-shadow: 0px 0px 43px -3px var(--primary-color) !important;
  box-shadow: 0px 0px 13px -8px var(--primary-color) inset !important;
  -webkit-box-shadow: 0px 0px 13px -8px var(--primary-color) inset !important;
  -moz-box-shadow: 0px 0px 13px -8px var(--primary-color) inset !important;
  border-bottom: 3px solid var(--primary-color) !important;
}

.ristrict_height {
  max-height: 3rem !important;
}

.e-dropdownbase .e-list-item.e-item-focus,
.e-dropdownbase .e-list-item.e-active,
.e-dropdownbase .e-list-item.e-active.e-hover,
.e-dropdownbase .e-list-item.e-hover {
  background-color: var(--primary-color);
  color: white;
}

.e-dropdownbase.e-list-item {
  max-height: 10px !important;
}

.h-100 {
  min-height: 80px !important;
}
